{% extends "base.html" %}
{% load static %}

{% block main %}

<div id="detail-images">
    <!-- Image Controls -->
    <div id="detail-images-controls" class="detail-controls">

        <!-- Choose Image -->
        <div id="detail-images-controls-chooseimage" class="detail-controls-item">
            <select{% if object.count_documentimages < 2 %} style="display: none;"{% endif %}>
                {% for document_image in object.documentimages.all %}
                    <option value="{{ document_image.id }}">Image {{ forloop.counter }}</option>
                {% endfor %}
            </select>
        </div>
        <!-- Reset Viewer -->
        <div id="detail-images-controls-reset" class="detail-controls-item" title="Reset Image"><i class="fas fa-redo-alt"></i></div>
        <!-- Download Image -->
        <div id="detail-images-controls-downloadimage" class="detail-controls-item" title="Download Image">
            <a href="{{ object.default_image.image.url }}" title="download image" download><i class="fas fa-download"></i></a>
        </div>
        <!-- Reveal All Parts -->
        <div id="detail-images-controls-revealallparts" class="detail-controls-item" title="Reveal All Parts on Image"><i class="fas fa-border-none"></i></div>
        
        <!-- Zoom -->
        <div id="detail-images-controls-zoom">
            <!-- Zoom: Out -->
            <div id="detail-images-controls-zoom-out" class="detail-controls-item" title="Zoom Out"><i class="fas fa-search-minus"></i></div>
            <!-- Zoom: Slider -->
            <div id="detail-images-controls-zoom-range" class="detail-controls-item" title="Zoom">
                <input type="range" id="detail-images-controls-zoom-range-slider" title="detail-images-controls-zoom-range-slider" min="10" max="1000" value="100">
            </div>
            <!-- Zoom: In -->
            <div id="detail-images-controls-zoom-in" class="detail-controls-item" title="Zoom In"><i class="fas fa-search-plus"></i></div>
        </div>
    </div>
    <div id="detail-images-container">
        {% for document_image in object.documentimages.all %}
            <div id="detail-images-image-{{ document_image.id }}" class="detail-images-image">
                <img src="{{ document_image.image.url }}" alt="{{ document_image.alternative_text }}">
                <div class="detail-images-image-parts">
                    {% for image_part in document_image.documentimagepart_set.all %}
                        <div id="detail-images-image-parts-part-{{ image_part.id }}" class="detail-images-image-parts-part" style="top: {{ image_part.image_cropped_top }}px; left: {{ image_part.image_cropped_left }}px; width: {{ image_part.image_cropped_width }}px; height: {{ image_part.image_cropped_height }}px;"></div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
</div>

<div id="detail-details">

    <section id="transcription-exercise">

        <!-- Navigation -->
        <div id="detail-navigation">
            <a href="{{ navigate_all_url }}"><i class="fas fa-th"></i> All</a>
            <a href="{{ navigate_previous_url }}"><i class="fas fa-chevron-left"></i> Previous</a>
            <a href="{{ navigate_next_url }}">Next <i class="fas fa-chevron-right"></i></a>
            {% if user.is_staff %}
                <a id="detail-navigation-admindashboard" href="{{ admin_url }}"><i class="fas fa-cog"></i> View in Admin Dashboard</a>
            {% endif %}
        </div>

        <!-- Title -->
        <div id="transcription-exercise-title">{{ object }}</div>

        <!-- Core Info -->
        <div id="transcription-exercise-coreinfo">
            <div>
                <label>Tutorial Author:</label>
                <span>{{ object.meta_created_by }}</span>
            </div>
            <div>
                <label>Difficulty:</label>
                {% for document_image in object.documentimages.all %}
                    <span id="transcription-exercise-coreinfo-difficulty-{{ document_image.id }}" class="transcription-exercise-coreinfo-difficulty">
                        {{ document_image.difficulty }}
                        <span class="transcription-exercise-coreinfo-difficulty-icons">
                            <i class="fa{% if document_image.difficulty.id > 0 %}s{% else %}r{% endif %} fa-circle"></i>
                            <i class="fa{% if document_image.difficulty.id > 1 %}s{% else %}r{% endif %} fa-circle"></i>
                            <i class="fa{% if document_image.difficulty.id > 2 %}s{% else %}r{% endif %} fa-circle"></i>
                        </span>
                    </span>
                {% endfor %}
            </div>
            <div>
                <label>Score:</label>
                <span id="transcription-exercise-coreinfo-scoresummary"></span>
            </div>
        </div>

        {% if not object.admin_published %}
            <!-- Unpublished warning -->
            <div id="transcription-exercise-publishedwarning">
                Document not yet published, meaning general users can't see it. Remember to publish when it's ready.
            </div>
        {% endif %}

        <!-- Transcription Controls -->
        <div id="transcription-exercise-controls" class="detail-controls">
            <!-- Reset Transcription -->
            <div id="transcription-exercise-controls-reset" class="detail-controls-item" title="Reset Transcription"><i class="fas fa-redo-alt"></i></div>
            <!-- Information -->
            <div id="transcription-exercise-controls-information" class="detail-controls-item" title="Information"><i class="fas fa-info-circle"></i></div>
            <!-- Instructions -->
            <div id="transcription-exercise-controls-instructions" class="detail-controls-item" title="Instructions"><i class="fas fa-question-circle"></i></div>
            <!-- Scores -->
            <div id="transcription-exercise-controls-scores" class="detail-controls-item" title="Score Details"><i class="fas fa-star"></i></div>
            <!-- Full Solution Text -->
            <div id="transcription-exercise-controls-fullsolution" class="detail-controls-item" title="Full Solution"><i class="fas fa-scroll"></i></div>
            <!-- All Correct Answers -->
            <div id="transcription-exercise-controls-correctall" class="detail-controls-item" title="All Correct Answers"><i class="fas fa-check-double"></i></div>
            <!-- Current Correct Answer -->
            <div id="transcription-exercise-controls-correctcurrent" class="detail-controls-item" title="Current Correct Answer"><i class="fas fa-check"></i></div>
            <!-- Position Details -->
            <div id="transcription-exercise-controls-positiondetails" class="detail-controls-item" title="Position Details"><i class="fas fa-list-ol"></i></div>
            {% if user.is_authenticated %}
                <!-- Add New Document Image Part -->
                <div id="transcription-exercise-controls-newdocumentimagepart" class="detail-controls-item" title="Add New Part"><i class="fas fa-plus-square"></i></div>
                <!-- Delete Document Image Part -->
                <div id="transcription-exercise-controls-deletedocumentimagepart" class="detail-controls-item" title="Delete a Part"><i class="fas fa-trash"></i></div>
            {% endif %}
        </div>

        <!-- Information -->
        <div id="transcription-exercise-information" class="transcription-exercise-controlsdropdown">
            <div>
                <label>Name:</label>
                <span>{{ object.name }}</span>
            </div>
            {% if object.m2m_as_text_repositories %}
                <div>
                    <label>Repository:</label>
                    <span>{{ object.m2m_as_text_repositories }}</span>
                </div>
            {% endif %}
            {% if object.shelfmark %}
                <div>
                    <label>Shelf Mark:</label>
                    <span>{{ object.shelfmark }}</span>
                </div>
            {% endif %}
            {% if object.type %}
                <div>
                    <label>Type:</label>
                    <span>{{ object.type }}</span>
                </div>
            {% endif %}
            {% if object.m2m_as_text_languages %}
                <div>
                    <label>Language/Script:</label>
                    <span>{{ object.m2m_as_text_languages }}</span>
                </div>
            {% endif %}
            {% if object.ink %}
                <div>
                    <label>Language/Script:</label>
                    <span>{{ object.ink }}</span>
                </div>
            {% endif %}
            {% if object.partial_date_range %}
                <div>
                    <label>Date Range:</label>
                    <span>{{ object.partial_date_range }}</span>
                </div>
            {% endif %}
            {% if object.date_full %}
                <div>
                    <label>Date:</label>
                    <span>{{ object.date_full }}</span>
                </div>
            {% endif %}
            {% if object.meta_created_datetime %}
                <div>
                    <label>Tutorial Created:</label>
                    <span>{{ object.meta_created_datetime }}</span>
                </div>
            {% endif %}
            {% if object.meta_lastupdated_datetime %}
                <div>
                    <label>Tutorial Last Updated:</label>
                    <span>{{ object.meta_lastupdated_datetime }}</span>
                </div>
            {% endif %}
            {% if object.information %}
                <div>
                    <label>Information:</label>
                    <span>{{ object.information | safe | linebreaks }}</span>
                </div>
            {% endif %}
        </div>

        <!-- Instructions -->
        <div id="transcription-exercise-instructions" class="transcription-exercise-controlsdropdown">
            <label>Instructions</label>
            {% for document_image in object.documentimages.all %}
                <div id="transcription-exercise-instructions-instruction-{{ document_image.id }}" class="transcription-exercise-instructions-instruction" dir="auto">
                    {{ document_image.instructions | safe | linebreaks }}
                </div>
            {% endfor %}
        </div>

        <!-- Scores -->
        <div id="transcription-exercise-scores" class="transcription-exercise-controlsdropdown">
            <label>Score <span id="transcription-exercise-scores-percentage"></span></label>
            <div>Total available: <span id="transcription-exercise-scores-available"></span></div>
            <div>Total unanswered: <span id="transcription-exercise-scores-unanswered"></span></div>
            <div>Total answered: <span id="transcription-exercise-scores-answered"></span></div>
            <div>Total wrong: <span id="transcription-exercise-scores-wrong"></span></div>
            <div>Total correct: <span id="transcription-exercise-scores-correct"></span></div>
        </div>

        <!-- Solutions -->
        <div id="transcription-exercise-fullsolution" class="transcription-exercise-controlsdropdown">
            {% for document_image in object.documentimages.all %}
                <div id="transcription-exercise-fullsolution-instance-{{ document_image.id }}" class="transcription-exercise-fullsolution-instance{% if document_image.right_to_left %} dir-rtl{% else %} dir-ltr{% endif %}" dir="{% if document_image.right_to_left %}rtl{% else %}ltr{% endif %}">
                    <label>Full Solution</label>
                    <div>
                        {{ document_image.correct_transcription | safe | linebreaksbr }}
                    </div>
                </div>
            {% endfor %}
        </div>

        <!-- Add New Document Image Part -->
        <div id="transcription-exercise-newdocumentimagepart" class="transcription-exercise-controlsdropdown">

            <!-- Step 1 -->
            <div class="newdocumentimagepart-step" data-step="1">
                <div class="newdocumentimagepart-step-title">Step 1: Draw new part</div>
                <div>
                    <p>
                        Start by drawing a rectangle directly on the image to show the part of the image to transcribe (e.g. draw a rectangle around a character or word).
                    </p>
                    <p>
                        To begin drawing click in the top left corner of the part and drag your cursor to the bottom right corner of the part.
                    </p>
                </div>
                <div id="newdocumentimagepart-redraw">
                    <i class="fas fa-pencil-alt"></i> Redraw Part
                </div>
            </div>

            <form id="transcription-exercise-newdocumentimagepart-form" enctype="multipart/form-data" method="POST" action="{% url 'palaeography:document-imagepart-add' %}">
                {% csrf_token %}
                <!-- Hidden form fields -->
                <input type="hidden" name="document_image_id" required>
                <input type="hidden" name="image_cropped_left" required>
                <input type="hidden" name="image_cropped_top" required>
                <input type="hidden" name="image_cropped_width" required>
                <input type="hidden" name="image_cropped_height" required>

                <!-- Step 2 -->
                <div class="newdocumentimagepart-step" data-step="2">
                    <div class="newdocumentimagepart-step-title">Step 2: Position new part</div>
                    <!-- Required fields -->
                    {% for document_image in object.documentimages.all %}
                        {% if document_image.documentimagepart_set.all %}
                            <div>
                                <label for="newdocumentimagepart-form-addafterimagepartid">Add after part:</label>
                                <select id="newdocumentimagepart-form-addafterimagepartid" name="add_after_image_part_id">
                                        <option value="">(Add to start)</option>
                                    {% for image_part in document_image.documentimagepart_set.all %}
                                        <option value="{{ image_part.id }}"{% if forloop.last %} selected="selected"{% endif %}>
                                            {% if forloop.last %}
                                                (Add to end)
                                            {% else %}
                                                {{ image_part.position_and_text }}
                                            {% endif %}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div>
                                <label for="newdocumentimagepart-form-newline">Start a new line?</label>
                                <input type="checkbox" id="newdocumentimagepart-form-newline" name="newline">
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>

                <!-- Step 3 -->
                <div class="newdocumentimagepart-step" data-step="3">
                    <div class="newdocumentimagepart-step-title">Step 3: Describe new part</div>
                    <!-- Required fields -->
                    <div>
                        <label for="newdocumentimagepart-form-text">Correct solution text</label>
                        <input type="text" id="newdocumentimagepart-form-text" name="text" required>
                    </div>
                    <!-- Optional fields -->
                    <div class="optional">
                        <p>The following are optional. They appear outside of the correct solution and are used to help the user complete the exercise.</p>
                        <div>
                            <label for="newdocumentimagepart-form-textbeforepart">Text before input</label>
                            <input type="text" id="newdocumentimagepart-form-textbeforepart" name="text_before_part">
                        </div><!--
                        --><div>
                            <label for="newdocumentimagepart-form-textafterpart">Text after input</label>
                            <input type="text" id="newdocumentimagepart-form-textafterpart" name="text_after_part">
                        </div><!--
                        --><div>
                            <label for="newdocumentimagepart-form-helptext">Help text</label>
                            <input type="text" id="newdocumentimagepart-form-helptext" name="help_text">
                        </div><!--
                        --><div>
                            <label for="newdocumentimagepart-form-cew">cew</label>
                            <input type="text" id="newdocumentimagepart-form-cew" name="cew">
                        </div>
                    </div>
                </div>

                <!-- Submit -->
                <div id="newdocumentimagepart-submit">
                    <button type="submit"><i class="fas fa-plus-square"></i> Add New Part</button>
                </div>
            </form>
        </div>

        <!-- Delete a Document Image Part -->
        <div id="transcription-exercise-deletedocumentimagepart" class="transcription-exercise-controlsdropdown">
            <form id="transcription-exercise-deletedocumentimagepart-form" enctype="multipart/form-data" method="POST" action="{% url 'palaeography:document-imagepart-delete' %}">
                {% csrf_token %}
                <input type="hidden" name="document_id" value="{{ object.id }}">

                {% for document_image in object.documentimages.all %}
                    {% if document_image.documentimagepart_set.all %}
                        <div>
                            <label for="deletedocumentimagepart-form-deleteimagepartid">Delete the following part:</label>
                            <select id="deletedocumentimagepart-form-deleteimagepartid" name="delete_document_image_part_id">
                                {% for image_part in document_image.documentimagepart_set.all %}
                                    <option value="{{ image_part.id }}"{% if forloop.last %} selected="selected"{% endif %}>
                                        {{ image_part.position_and_text }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                        <div>
                            <label for="deletedocumentimagepart-form-confirm">
                                Tick to confirm you understand that this action cannot be undone and this part will be permanently deleted
                            </label>
                            <input type="checkbox" id="deletedocumentimagepart-form-confirm" name="confirm" required>
                        </div>
                    {% endif %}
                {% endfor %}
                <button type="submit">Delete Document Image Part</button>
            </form>
        </div>

        <!-- Exercises -->
        {% for document_image in object.documentimages.all %}
            <div id="transcription-exercise-{{ document_image.id }}" class="transcription-exercise{% if document_image.right_to_left %} dir-rtl{% else %} dir-ltr{% endif %}" dir="{% if document_image.right_to_left %}rtl{% else %}ltr{% endif %}">

                {% for image_part in document_image.documentimagepart_set.all %}

                    {% if image_part.is_first_in_line %}
                        {% if not image_part.is_first_in_image %}</div>{% endif %}
                        <div class="transcription-exercise-linecount">Line {{ image_part.line_count }}</div>
                        <div class="transcription-exercise-line">
                    {% endif %}

                    {% if image_part.text_before_part %}
                        <!-- Before part -->
                        <div class="transcription-exercise-line-beforepart">
                            <div id="transcription-exercise-line-beforepart-input-{{ image_part.id }}" class="transcription-exercise-line-beforepart-input">
                                {{ image_part.text_before_part }}
                            </div>
                            <div id="transcription-exercise-line-beforepart-answer-{{ image_part.id }}" class="transcription-exercise-line-beforepart-answer">
                                {{ image_part.text_before_part }}
                            </div>
                        </div>
                    {% endif %}

                    <!-- Part -->
                    <div class="transcription-exercise-line-part">
                        <!-- Part - Count -->
                        <div class="transcription-exercise-line-part-count">{{ image_part.part_count_in_line }}</div>
                        <!-- Part - Input -->
                        <input id="transcription-exercise-line-part-{{ image_part.id }}" class="transcription-exercise-line-part-input" type="text" size="{{ image_part.word_length }}" title="Transcribe this part of the image" data-correctanswer="{{ image_part.text }}"{% if image_part.help_text %} data-helptext="{{ image_part.help_text }}"{% endif %} data-left="{{ image_part.image_cropped_left }}" data-top="{{ image_part.image_cropped_top }}" data-width="{{ image_part.image_cropped_width }}" data-height="{{ image_part.image_cropped_height }}" data-position="{{ image_part.position }}">
                        <!-- Part - Answer -->
                        <div id="transcription-exercise-line-part-answer-{{ image_part.id }}" class="transcription-exercise-line-part-answer">{{ image_part.text }}</div>
                    </div>

                    {% if image_part.text_after_part %}
                        <!-- After part -->
                        <div class="transcription-exercise-line-afterpart">
                            <div id="transcription-exercise-line-afterpart-input-{{ image_part.id }}" class="transcription-exercise-line-afterpart-input">
                                {{ image_part.text_after_part }}
                            </div>
                            <div id="transcription-exercise-line-afterpart-answer-{{ image_part.id }}" class="transcription-exercise-line-afterpart-answer">
                                {{ image_part.text_after_part }}
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}

                <!-- Popup (content added dynamically in js)-->
                <div id="transcription-exercise-part-popup">
                    <div id="transcription-exercise-part-popup-position"></div>
                    <div id="transcription-exercise-part-popup-helptext" dir="auto"></div>
                    <div id="transcription-exercise-part-popup-image"></div>
                </div>
            </div></div>
        {% endfor %}
    </section>

</div>

<!-- JS -->
<script src="{% static 'js/palaeography-document-detail.js' %}"></script>

{% endblock %}