{% extends "base.html" %}
{% load static %}

{% block main %}

<div id="detail-images">
    <!-- Image Controls -->
    <div id="detail-images-controls" class="detail-controls">

        <!-- Choose Image -->
        <div id="detail-images-controls-chooseimage" class="detail-controls-item">
            <select{% if object.count_documentimages < 2 %} style="display: none;"{% endif %}>
                {% for document_image in object.documentimage_set.all %}
                    <option value="{{ document_image.id }}">Image {{ forloop.counter }}</option>
                {% endfor %}
            </select>
        </div>
        <!-- Reset Viewer -->
        <div id="detail-images-controls-reset" class="detail-controls-item" title="Reset Image"><i class="fas fa-redo-alt"></i></div>
        <!-- Download Image -->
        <div id="detail-images-controls-downloadimage" class="detail-controls-item" title="Download Image">
            <a href="{{ object.default_image.image.url }}" download><i class="fas fa-download"></i></a>
        </div>
        {% if user.is_authenticated %}
            <!-- Add New Document Image Part/Transcription -->
            <div id="detail-images-controls-newdocumentimagepart" class="detail-controls-item" title="Add New Transcription"><i class="fas fa-plus-square"></i></div>
        {% endif %}

        <!-- Zoom -->
        <div id="detail-images-controls-zoom">
            <!-- Zoom: Out -->
            <div id="detail-images-controls-zoom-out" class="detail-controls-item" title="Zoom Out"><i class="fas fa-search-minus"></i></div>
            <!-- Zoom: Slider -->
            <div id="detail-images-controls-zoom-range" class="detail-controls-item" title="Zoom">
                <input type="range" id="detail-images-controls-zoom-range-slider" title="detail-images-controls-zoom-range-slider" min="10" max="1000" value="100">
            </div>
            <!-- Zoom: In -->
            <div id="detail-images-controls-zoom-in" class="detail-controls-item" title="Zoom In"><i class="fas fa-search-plus"></i></div>
        </div>
    </div>
    <div id="detail-images-container">
        {% for document_image in object.documentimage_set.all %}
            <div id="detail-images-image-{{ document_image.id }}" class="detail-images-image">
                <img src="{{ document_image.image.url }}" alt="{{ document_image.alternative_text }}">
                <div class="detail-images-image-parts">
                    {% for document_image_part in document_image.documentimagepart_set.all %}
                        <div id="detail-images-image-parts-part-{{ document_image_part.id }}" class="detail-images-image-parts-part" style="top: {{ document_image_part.image_cropped_top }}px; left: {{ document_image_part.image_cropped_left }}px; width: {{ document_image_part.image_cropped_width }}px; height: {{ document_image_part.image_cropped_height }}px;"></div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
</div>

<div id="detail-details">

    <section id="transcription-exercise">
        <!-- Navigation -->
        <div id="detail-navigation">
            <a href="{{ navigate_all_url }}"><i class="fas fa-th"></i> All</a>
            <a href="{{ navigate_previous_url }}"><i class="fas fa-chevron-left"></i> Previous</a>
            <a href="{{ navigate_next_url }}">Next <i class="fas fa-chevron-right"></i></a>
        </div>
        <!-- Title -->
        <div id="transcription-exercise-title">{{ object }}</div>
        <!-- Tabs -->
        <ul class="tabs">
            <li id="transcription">Transcription</li><!--
            --><li id="information">Information</li><!--
            --><li id="comments">Comments</li><!--
            -->{% if request.user.is_staff %}<li id="admin">Admin</li>{% endif %}
        </ul>
    </section>

    <section class="tabbed" id="tabbed-transcription">
        <div class="tabbed-title">Transcription</div>
        <!-- Transcription Controls -->
        <div id="transcription-exercise-controls" class="detail-controls">
            <!-- Reset Transcription -->
            <div id="transcription-exercise-controls-reset" class="detail-controls-item" title="Reset Transcription"><i class="fas fa-redo-alt"></i></div>
            <!-- Instructions -->
            <div id="transcription-exercise-controls-instructions" class="detail-controls-item" title="Instructions"><i class="fas fa-info-circle"></i></div>
            <!-- Full Solution Text -->
            <div id="transcription-exercise-controls-fullsolution" class="detail-controls-item" title="Full Solution"><i class="fas fa-scroll"></i></div>
            <!-- All Correct Answers -->
            <div id="transcription-exercise-controls-correctall" class="detail-controls-item" title="All Correct Answers"><i class="fas fa-check-double"></i></div>
            <!-- Current Correct Answer -->
            <div id="transcription-exercise-controls-correctcurrent" class="detail-controls-item" title="Current Correct Answer"><i class="fas fa-check"></i></div>
            <!-- Position Details -->
            <div id="transcription-exercise-controls-positiondetails" class="detail-controls-item" title="Position Details"><i class="fas fa-list-ol"></i></div>
            <!-- Scores -->
            <div id="transcription-exercise-controls-scores" class="detail-controls-item" title="Scores"><i class="fas fa-star"></i></div>
            <!-- Core Info -->
            <div id="transcription-exercise-controls-coreinfo" class="detail-controls-item">
                <div>
                    <label>Difficulty</label>
                    {% for document_image in object.documentimage_set.all %}
                        <span id="transcription-exercise-controls-coreinfo-difficulty-{{ document_image.id }}" class="transcription-exercise-controls-coreinfo-difficulty">{{ document_image.difficulty | title }}</span>
                    {% endfor %}
                </div>
            </div>
        </div>

        <!-- Instructions -->
        <div id="transcription-exercise-instructions" class="transcription-exercise-controlsdropdown">
            <label>Instructions</label>
            <div>
                {{ object.instructions | safe | linebreaksbr }}
            </div>
        </div>

        <!-- Scores -->
        <div id="transcription-exercise-scores" class="transcription-exercise-controlsdropdown">
            <label>Score <span id="transcription-exercise-scores-percentage"></span></label>
            <div>Total available: <span id="transcription-exercise-scores-available"></span></div>
            <div>Total unanswered: <span id="transcription-exercise-scores-unanswered"></span></div>
            <div>Total answered: <span id="transcription-exercise-scores-answered"></span></div>
            <div>Total wrong: <span id="transcription-exercise-scores-wrong"></span></div>
            <div>Total correct: <span id="transcription-exercise-scores-correct"></span></div>
        </div>

        <!-- Solutions -->
        <div id="transcription-exercise-solutions" class="transcription-exercise-controlsdropdown">
            {% for document_image in object.documentimage_set.all %}
                <div id="transcription-exercise-solutions-solution-{{ document_image.id }}" class="transcription-exercise-solutions-solution{% if document_image.right_to_left %} dir-rtl{% else %} dir-ltr{% endif %}" dir="{% if document_image.right_to_left %}rtl{% else %}ltr{% endif %}">
                    <label>Full Solution: Image {{ forloop.counter }}</label>
                    <div>
                        {{ document_image.correct_transcription | safe | linebreaksbr }}
                    </div>
                </div>
            {% endfor %}
        </div>

        <!-- Exercises -->
        {% for document_image in object.documentimage_set.all %}
            <div id="transcription-exercise-{{ document_image.id }}" class="transcription-exercise{% if document_image.right_to_left %} dir-rtl{% else %} dir-ltr{% endif %}" dir="{% if document_image.right_to_left %}rtl{% else %}ltr{% endif %}">
                <!-- Input -->
                <div class="transcription-exercise-input">
                    {% for document_image_part in document_image.documentimagepart_set.all %}
                        {% if document_image_part.is_first_in_line %}
                            {% if not document_image_part.is_first_in_image %}</div>{% endif %}
                            <div class="transcription-exercise-input-linecount">Line {{ document_image_part.line_count }}</div>
                            <div class="transcription-exercise-input-line">
                        {% endif %}
                        <!-- Before part -->
                        {% if document_image_part.text_before_part %}
                            <div class="transcription-exercise-input-line-beforepart">
                                <div id="transcription-exercise-input-line-word-beforepart-{{ document_image_part.id }}" class="transcription-exercise-input-line-word-beforepart">
                                    {{ document_image_part.text_before_part }}
                                </div>
                                <div id="transcription-exercise-input-line-word-answer-beforepart-{{ document_image_part.id }}" class="transcription-exercise-input-line-word-answer-beforepart">
                                    {{ document_image_part.text_before_part }}
                                </div>
                            </div>
                        {% endif %}
                        <!-- Part -->
                        <div class="transcription-exercise-input-line-part">
                            <!-- Part - Count -->
                            <div class="transcription-exercise-input-line-word-count">{{ document_image_part.part_count_in_line }}</div>
                            <!-- Part - Input -->
                            <input id="transcription-exercise-input-line-word-{{ document_image_part.id }}" class="transcription-exercise-input-line-word" type="text" size="{{ document_image_part.word_length }}" title="Transcribe this part of the image" data-correctanswer="{{ document_image_part.text }}"{% if document_image_part.help_text %} data-helptext="{{ document_image_part.help_text }}"{% endif %}>
                            <!-- Part - Answer -->
                            <div id="transcription-exercise-input-line-word-answer-{{ document_image_part.id }}" class="transcription-exercise-input-line-word-answer">{{ document_image_part.text }}</div>
                        </div>
                        <!-- After part -->
                        {% if document_image_part.text_after_part %}
                            <div class="transcription-exercise-input-line-afterpart">
                                <div id="transcription-exercise-input-line-word-afterpart-{{ document_image_part.id }}" class="transcription-exercise-input-line-word-afterpart">
                                    {{ document_image_part.text_after_part }}
                                </div>
                                <div id="transcription-exercise-input-line-word-answer-afterpart-{{ document_image_part.id }}" class="transcription-exercise-input-line-word-answer-afterpart">
                                    {{ document_image_part.text_after_part }}
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                    </div>
                </div>
                <!-- Popup -->
                <div id="transcription-exercise-part-popup">
                    <img id="transcription-exercise-part-popup-image" src="" alt="Document image part preview">
                    <div id="transcription-exercise-part-popup-helptext"></div>
                </div>
            </div>
        {% endfor %}
    </section>

    <section class="tabbed" id="tabbed-information">
        <div class="tabbed-title">Information</div>

        <div id="information-content">
            <div>
                <label>Name:</label>
                <span>{{ object.name }}</span>
            </div>
            {% if object.m2m_as_text_repositories %}
                <div>
                    <label>Repository:</label>
                    <span>{{ object.m2m_as_text_repositories }}</span>
                </div>
            {% endif %}
            {% if object.shelfmark %}
                <div>
                    <label>Shelf Mark:</label>
                    <span>{{ object.shelfmark }}</span>
                </div>
            {% endif %}
            {% if object.type %}
                <div>
                    <label>Type:</label>
                    <span>{{ object.type }}</span>
                </div>
            {% endif %}
            {% if object.m2m_as_text_languages %}
                <div>
                    <label>Language/Script:</label>
                    <span>{{ object.m2m_as_text_languages }}</span>
                </div>
            {% endif %}
            {% if object.ink %}
                <div>
                    <label>Language/Script:</label>
                    <span>{{ object.ink }}</span>
                </div>
            {% endif %}
            {% if object.partial_date_range %}
                <div>
                    <label>Date Range:</label>
                    <span>{{ object.partial_date_range }}</span>
                </div>
            {% endif %}
            {% if object.date %}
                <div>
                    <label>Date:</label>
                    <span>{{ object.date }}</span>
                </div>
            {% endif %}
            {% if object.meta_created_by %}
                <div>
                    <label>Exercise Author:</label>
                    <span>{{ object.meta_created_by }}</span>
                </div>
            {% endif %}
            {% if object.information %}
                <div>
                    <label>Information:</label>
                    <span>{{ object.information | safe | linebreaks }}</span>
                </div>
            {% endif %}
        </div>
    </section>

    <section class="tabbed" id="tabbed-comments">
        <div class="tabbed-title">Comments</div>
        Comments
    </section>

    {% if request.user.is_staff %}
        <section class="tabbed" id="tabbed-admin">
            <div class="tabbed-title">Admin</div>
            Admin stuff
        </section>
    {% endif %}

</div>

<!-- JS -->
<script src="{% static 'js/tabs.js' %}"></script>
<script src="{% static 'js/palaeography-document-detail.js' %}"></script>

{% endblock %}