{% extends "base.html" %}
{% load static %}
{% load settings_value %}

{% block main %}

<section id="welcome">
    <div id="welcome-content" class="container">
        <p>
            MultiPal is an online interactive tutorial in palaeography. It helps learning to decipher original manuscripts, documents and inscriptions in a range of ancient and medieval scripts and languages. MultiPal was developed by a group of specialists of the École Pratique des Hautes Études, École Nationale des Chartes end Collège de France, in the framework of the University Paris Sciences Lettres (PSL).
        </p>
        <p>
            MultiPal offers reading exercices in Latin, Greek, Egyptian, Coptic, Arabic, Hebrew, Aramaic, Syriac, Chinese, Sanskrit and Cyrillic. Exercises in other writing systems will be available shortly.
        </p>
    </div>
</section>

<section id="welcome" class="container">
    <h2>How to use MultiPal</h2>
    <p>
        Intro help image...
    </p>
</section>

{% endblock %}