
/* ---------- General ---------- */

/* 

Colour scheme:

    #121d29 - navy
    #2f4256 - light navy

    #4f667d - light blue

    #696969 - grey text on white

*/

html, body {
    font-family: 'Be Vietnam Pro', sans-serif;
    background: #121d29;
    color: white;
    margin: 0;
    font-weight: 300;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: white;
    text-decoration: none;
}

h1 {
    font-size: 2em;
    margin: 0;
    padding: 0;
    line-height: 1em;
    font-weight: 900;
    color: #121d29;
    display: inline-block;
    vertical-align: middle;
}

h2 {
    font-size: 2.7em;
    font-weight: bold;
    padding-bottom: 0.5em;
    line-height: 1em;
}

h2:not(:first-of-type) {
    padding-top: 2em;
}

h3 {
    padding: 1.7em 0 0.5em 0;
    text-align: left;
    font-size: 1.7em;
    font-weight: bold;
    line-height: 1em;
}

h4 {
    font-weight: bold;
    line-height: 1em;
    font-size: 1.2em;
    padding: 0.8em 0 0.1em 0;
}

hr {
    border-top: 0.4rem solid #121d29;
    width: 9rem;
    margin: 0.2em 0 1.3em 0;
}

table,
td,
th {
    border: 1px solid #AAA;
    padding: 0.2em;
}

p {
    margin: 0.5em 0;
    line-height: 1.7em;
}

select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 0;
    padding: 0.3em 1.3em 0.3em 0.3em;
    margin: 0;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;
    display: block;
    border: 1px solid #BBB;
    background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 5px;
    background-color: white;
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

.clearfloat {
    clear: both;
}

.warning,
.warning a,
.warning a:hover {
    color: #E74C3C;
}

.warning a {
    text-decoration: underline;
}

.image-circle {
    border: 0.3rem solid rgba(255,255,255,0.6);
    border-radius: 100%;
    width: 13em;
    max-width: 90%;
    display: block;
    margin: 1em auto;
}

.hidden {
    display: none;
}

.draggable {
    cursor: move;
}

.drawable {
    cursor: crosshair;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 0;
    height: 0;
    margin: 7em auto;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.pdf-viewer-full {
    width: 95%;
    height: calc(100vh - 4em);
    display: block;
    margin: 1em auto;
    overflow: auto;
}

.pdf-viewer-download {
    clear: both;
    background: white;
    color: #121d29;
    padding: 0.5em 1em;
    border-radius: 0.2em;
    display: block;
    width: fit-content;
    margin: 1em auto 2em auto;
}

.pdf-viewer-download:hover {
    color: white;
    background: #2f4256;
}

.dir-rtl {
    text-align: right;
}

.dir-ltr {
    text-align: left;
}

/* ---------- Bubble Links (anchor links with rounded border) ---------- */

.bubblelink,
.bubblelink-invert {
    padding: 0.64em 1.3em;
    margin: 1em 0;
    display: inline-block;
    width: fit-content;
    max-width: 100%;
    cursor: pointer;
    border-radius: 1.3em;
    background: white;
    color: #2f4256;
}

.bubblelink-invert {
    background: #2f4256;
    color: white;
}

.bubblelink:hover,
.bubblelink-invert:hover {
    color: #2f4256;
}

.bubblelink i,
.bubblelink-invert i {
    margin-left: 0.3em;
}

/* ---------- Forms ---------- */

form.full-form p {
    margin: 1em 0 2em 0;
}

form.full-form label,
form.full-form textarea,
form.full-form input[type=text],
form.full-form input[type=url],
form.full-form input[type=email],
form.full-form input[type=password],
form.full-form input[type=number] {
    display: block;
    width: 100%;
}

form.full-form textarea {
    height: 4em;
}

form.full-form label {
    margin-bottom: 0;
}

form.full-form ul {
    list-style-type: none;
    padding-left: 0;
}

form.full-form .helptext {
    color: #505050;
    font-size: 0.85em;
    font-style: italic;
    margin: 0.2em;
    display: block;
}

form.full-form .errorlist {
    color: #C0392B;
}

button {
    border-radius: 0.4em;
}

form.full-form button[type=submit] {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    border: none;
    padding: 0.7em;
    margin: 1em auto;
    background: #2f4256;
    color: white;
    width: 100%;
}

form.full-form button[type=submit]:hover {
    opacity: 0.9;
}

.full-form-footer-links a {
    display: block;
    padding: 0.5em;
    margin: 2em auto;
    text-align: center;
    background: #DDD;
    border-radius: 0.4em;
    color: #404040;
}

.full-form-footer-links a:hover {
    opacity: 0.85;
}

form.full-form button[type=submit].button-danger {
    background: #C23616;
}

.field-required.field-invalid {
    border: 2px solid #E74C3C;
}

.validationmsg {
    color: #E74C3C;
    font-size: 0.9em;
}

/* ---------- Navigation ---------- */

nav.navbar {
    background: white;
    vertical-align: middle;
    color: #121d29;
    z-index: 950;
}

.navbar-brand {
    display: inline-block;
    font-size: 1rem;
}

.nav-link {
    font-weight: 300;
    font-size: 1.1rem;
    color: #121d29;
    padding: 0.2em;
}

nav a:hover {
    color: #2f4256;
}

/* ---------- Main ---------- */

main {
    overflow-x: hidden;
    min-height: 100vh;
    padding: 2.7rem 0 6.4rem 0;
}

/* ---------- Welcome ---------- */

#welcome-intro {
    background: #4f667d;
    margin: -3.5rem 0 3.5rem 0;
    padding: 4em 0;
}

#welcome-intro-p1 {
    font-size: 1.7em;
    line-height: 1.7em;
}

#welcome-intro-p2 {
    font-size: 1.3em;
    line-height: 1.5em;
    margin: 2em 0;
}

.welcomebubblelinks {
    text-align: center;
}

.welcomebubblelinks a {
    margin: 1em;
    font-size: 1.2em;
    color: #696969;
}

#welcome-howtouse {
    position: relative;
}

#welcome-howtouse-bg {
    content: "";
    background-image: url('../images/welcome/ecritures.svg');
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.13;
    z-index: 0;
}

#welcome-howtouse-fg {
    z-index: 1;
    position: relative;
}

.welcome-howtouse-step {
    margin: 6em auto;
    clear: both;
}

.welcome-howtouse-step strong {
    font-size: 2.3em;
    display: block;
    margin-bottom: 1em;
    line-height: 1em;
}

/* ---------- Palaeography: List ---------- */

/* List Options */

#list-options {
    background: #4f667d;
    margin: -3.5rem 0 3.5rem 0;
    padding: 3.5em 0 2em;
    font-weight: bold;
}

.list-options-search {
    margin-bottom: 1em;
}

#list-options-searchby {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    font-weight: bold;
    border-radius: 0.3em 0 0 0.3em;
    padding: 0.4em 1.3em 0.1em 0.3em;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;
    display: block;
    border: none;
    background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 5px;
    background-color: white;
    color: black;
}

#list-options-search-input {
    background: rgba(255, 255, 255, 0.1);
    border: 0;
    color: rgba(255, 255, 255, 0.7);
    font-weight: bold;
}

#list-options-search-input::placeholder {
    color: rgba(255, 255, 255, 0.5);
}

#list-options-search-input:hover,
#list-options-search-input:focus {
    box-shadow: none;
}

#list-options-search-input:focus {
    color: #fff;
    background: rgba(255, 255, 255, 0.17);
}

#list-options-search-button {
    background: white;
    border: 0;
    color: black;
}

#list-options-search-button:hover {
    background: white;
}

#list-options-filters {
    background: rgba(0, 0, 0, 0);
    margin-bottom: 1em;
}

.list-options-filters-filter label {
    display: block;
    margin: 0;
    font-size: 0.9em;
}

.list-options-filters-filter select {
    width: 100%;
}

.list-options-filters-filter select,
#list-options-sort-by,
#list-options-sort-direction {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 0.3em;
    border: none;
    padding: 0.3em 1.3em 0.2em 0.3em;
    margin: 0;
    color: rgba(255, 255, 255, 0.7);
    background-image: url("data:image/svg+xml;utf8,<svg fill='gray' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 5px;
    background-color: rgba(255, 255, 255, 0.1);
}

#list-options-links {
    display: inline-block;
}

#list-options-links {
    text-align: right;
    margin-left: 3em;
}

#list-options-links span {
    display: inline-block;
    padding: 0.25em 0.6em 0.2em 0.7em;
    color: white;
    background: rgba(255, 255, 255, 0.15);
    border-radius: 0.2em;
}

#list-options-links span:hover {
    cursor: pointer;
    background: white;
    color: black;
}

/* List Body */

#list-body {
    text-align: center;
}

.list-body-item {
    width: 27em;
    background: rgba(255, 255, 255, 0.13);
    display: inline-block;
    color: white;
    margin: 1em;
    text-align: left;
    border-radius: 0.2em;
    overflow: hidden;
}

.list-body-item:hover {
    color: white;
    background: rgba(255, 255, 255, 0.27);
}

.list-body-item-image {
    display: inline-block;
    vertical-align: top;
    width: 13rem;
    height: 13rem;
    margin-right: 0.64em;
}

.list-body-item-text {
    display: inline-block;
    vertical-align: top;
    width: 13rem;
    padding: 0.5em;
}

.list-body-item-text label {
    font-weight: bold;
    padding-bottom: 0.5em;
    border-bottom: 2px solid white;
    display: block;
    font-size: 1.2em;
    cursor: pointer;
}

.list-body-item-text p {
    font-size: 0.9em;
}

/* List Pagination */

#list-pagination {
    text-align: center;
    margin: 5em auto 2em auto;
    width: 100%;
}

.list-pagination-section {
    height: 4em;
    margin: 1em 0;
}

.list-pagination-section.disabled {
    visibility: hidden;
}

#list-pagination a {
    color: rgba(255, 255, 255, 0.4);
    background: rgba(255, 255, 255, 0.1);
    text-decoration: none;
    font-size: 2em;
    width: 2em;
    height: 1.4em;
    padding: 0.2em;
    border-radius: 0.2em;
}

#list-pagination a:hover {
    text-decoration: none;
    background: white;
    color: black;
}

.list-pagination-action,
.list-pagination-action-disabled {
    display: inline-block;
    margin: 0 1em;
}

.list-pagination-action label {
    font-size: 0.7em;
    padding-top: 0.3em;
    display: block;
}

.list-pagination-current {
    font-size: 1em;
    font-weight: 600;
    display: block;
    padding-top: 1.3em;
}

/* ---------- Detail ---------- */

#detail-images,
#detail-details {
    padding: 1rem;
    overflow: hidden;
}

.detail-controls {
    background: #4f667d;
    color: #FFF;
    padding: 0 0.5em;
}

.detail-controls-item {
    font-size: 0.85em;
    display: inline-block;
    margin: 0;
    cursor: pointer;
    opacity: 0.8;
    vertical-align: top;
}

.detail-controls-item a {
    color: #FFF;
}

.detail-controls-item:hover {
    opacity: 1;
    background: #2f4256;
}

.detail-controls-item.active {
    background: #EBA82D;
    opacity: 1;
}

.detail-controls-item i {
    padding: 0.5em;
    font-size: 1.4em;
}

.detail-controls-item select {
    display: inline-block;
    padding: 0 2em 0 0.3em;
    height: 2em;
    border: 0;
    width: 7em;
    margin: 0.4em 0.8em;
}

#detail-images-controls-showgraphicelements {
    margin: 0.25em 3em !important;
    padding-top: 0;
    vertical-align: top;
}

#detail-images-controls-zoom {
    display: inline-block;
    margin-left: 3em;
}

#detail-images-controls-zoom-range {
    padding: 0.5em 0.78em 0.78em 0.78em;
    vertical-align: top;
}

#detail-images-controls-zoom-range input[type=range] {
    -webkit-appearance: none;
    width: 10em;
    background: none;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}

#detail-images-controls-zoom-range input[type=range]:focus {
    outline: none;
}

#detail-images-controls-zoom-range input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 0.3em;
    background: white;
    border-radius: 1.3px;
    border: 0.2px solid white;
}

#detail-images-controls-zoom-range input[type=range]::-webkit-slider-thumb {
    border: 1px solid white;
    height: 1.5em;
    width: 13px;
    border-radius: 3px;
    background: white;
    -webkit-appearance: none;
    margin-top: -10px;
}

#detail-images-controls-zoom-range input[type=range]:focus::-webkit-slider-runnable-track {
    background: black;
}

#detail-images-controls-zoom-range input[type=range]::-moz-range-track {
    width: 100%;
    height: 0.3em;
    background: white;
    border-radius: 1.3px;
    border: 0.2px solid white;
    padding: 0 0.15em;
}

#detail-images-controls-zoom-range input[type=range]::-moz-range-thumb {
    border: 1px solid white;
    height: 1.5em;
    width: 13px;
    border-radius: 3px;
    background: white;
}

#detail-images-controls-zoom-range input[type=range]::-ms-track {
    width: 100%;
    height: 0.3em;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    border-width: 16px 0;
    color: transparent;
}

#detail-images-controls-zoom-range input[type=range]::-ms-fill-lower {
    background: white;
    border: 0.2px solid white;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

#detail-images-controls-zoom-range input[type=range]::-ms-fill-upper {
    background: white;
    border: 0.2px solid white;
    border-radius: 2.6px;
}

#detail-images-controls-zoom-range input[type=range]::-ms-thumb {
    border: 1px solid white;
    height: 2em;
    width: 16px;
    border-radius: 3px;
    background: white;
    cursor: pointer;
}

#detail-images-controls-zoom-range input[type=range]:focus::-ms-fill-lower {
    background: white;
}

#detail-images-controls-zoom-range input[type=range]:focus::-ms-fill-upper {
    background: white;
}

#detail-images-container {
    overflow: auto;
    height: calc(100vh - 8em);
    background: rgba(255, 255, 255, 0.13);
}

.detail-images-image {
    position: relative;
    display: none;
}

.detail-images-image.active {
    display: block;
}

.detail-images-image img {
    position: absolute;
    top: 0;
    left: 0;
}

.detail-images-image-parts {
    position: absolute;
    top: 0;
    left: 0;
}

.detail-images-image-parts-part {
    display: block;
    border: 4px solid transparent;
    z-index: 10000;
    position: absolute;
    cursor: pointer;
}

.detail-images-image-parts-part.reveal {
    background: rgba(100,200,130, 0.5);
}

.detail-images-image-parts-part.active {
    border: 4px solid orange;
}

#detail-navigation {
    text-align: right;
}

#detail-navigation a {
    font-size: 0.9em;
    margin: 0.5em 0 0.5em 2.7em;
    display: inline-block;
    font-weight: bold;
    opacity: 1;
}

#detail-navigation a:hover {
    opacity: 0.9;
}

#detail-navigation a i {
    margin: 0 0.5em;
}

#transcription-exercise-title {
    font-size: 2em;
    font-weight: 900;
    margin: 0.4em 0 0.7em 0;
    line-height: 1.3em;
}

#transcription-exercise-controls-coreinfo {
    text-align: right;
    float: right;
}

#transcription-exercise-controls-coreinfo div {
    margin: 0.6em 0 0 3em;
    display: inline-block;
}

#transcription-exercise-controls-coreinfo div span {
    font-weight: bold;
    margin-left: 0.2rem;
}

.transcription-exercise-controlsdropdown {
    display: none;
    background: rgba(255, 255, 255, 0.1);
    color: white;
    padding: 1em;
    font-size: 0.9em;
}

.transcription-exercise-controlsdropdown label {
    font-weight: bold;
    font-size: 1.1em;
    margin-bottom: 0.5em;
    display: block;
}

.transcription-exercise-solutions-solution {
    display: none;
}

.transcription-exercise-solutions-solution.active {
    display: block;
}

.transcription-exercise {
    display: none;
    padding: 1.3em 0.64em 1.3em 0.64em;
    white-space: nowrap;
    overflow-x: auto;
    background: rgba(255, 255, 255, 0.13);
}

.transcription-exercise.active {
    display: block;
}

.transcription-exercise-input-linecount {
    margin-top: 1em;
    font-size: 0.95em;
    font-weight: bold;
    display: none;
}

.transcription-exercise-input-linecount.active {
    display: block;
}

.transcription-exercise-input-line {
    width: 100%;
}

.transcription-exercise-input-line-part {
    display: inline-block;
    vertical-align: top;
}

.transcription-exercise-input-line-word-count {
    font-size: 0.8em;
    font-weight: bold;
    display: none;
}

.transcription-exercise-input-line-word-count.active {
    display: inline-block;
}

.transcription-exercise-input-line-word {
    padding: 0.3em;
    margin: 0.5em;
    opacity: 0.8;
    border: none;
    cursor: pointer;
}

.transcription-exercise-input-line-word.correct {
    background: green;
    color: white;
}

.transcription-exercise-input-line-word.wrong {
    background: red;
    color: white;
}

.transcription-exercise-input-line-word.reveal {
    opacity: 1;
}

.transcription-exercise-input-line-word:active,
.transcription-exercise-input-line-word:focus {
    opacity: 1;
    outline: 2px solid orange;
    cursor: text;
}

.transcription-exercise-input-line-word-answer {
    margin: 0 0.5em;
    width: calc(100% - 1em);
    background: orange;
    color: black;
    padding: 0.5em;
    display: none;
}

.transcription-exercise-input-line-word-answer.active {
    display: block;
}

.transcription-exercise-input-line-beforepart,
.transcription-exercise-input-line-afterpart {
    display: inline-block;
    vertical-align: top;
}

.transcription-exercise-input-line-word-beforepart,
.transcription-exercise-input-line-word-afterpart {
    margin: 0.5em 0;
    padding: 0.3em 0;
    display: block;
}

.transcription-exercise-input-line-word-answer-beforepart,
.transcription-exercise-input-line-word-answer-afterpart {
    padding: 0.5em 0;
    display: none;
}

.transcription-exercise-input-line-word-answer-beforepart.active,
.transcription-exercise-input-line-word-answer-afterpart.active {
    display: block;
}

#transcription-exercise-part-popup {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 200px;
    height: 200px;
    background: white;
    color: black;
    display: none;
}

#transcription-exercise-part-popup-image {
    width: 100%;
}

#transcription-exercise-part-popup-helptext {
    width: 100%;
    font-weight: bold;
}

#information-content div {
    margin-bottom: 2em;
}

#information-content div label {
    margin-right: 0.3em;
    display: inline-block;
    font-weight: bold;
}

/* ---------- Tabs ---------- */

.tabs {
    display: block;
    padding-left: 0;
    list-style: none;
}

.tabbed-title {
    display: none;
}

.tabs li {
    background: rgba(255, 255, 255, 0.2);
    color: white;
    cursor: pointer;
}

.tabs li.active {
    background: #4f667d;
    color: white;
}

section.tabbed {
    display: none;
}

/* ---------- Help ---------- */

#help-list-head-search {
    margin: 3em auto;
    text-align: center;
}

#help-detail-link {
    text-align: center;
    font-size: 1.3em;
    display: block;
    margin: 3em 0;
}

#help-detail-link a {
    font-weight: bold;
}

#help-detail-image {
    max-width: 100%;
    margin: 3em auto;
}

/* ---------- Account ---------- */

#account-login-help {
    margin-top: 2em;
}

/* ---------- Footer ---------- */

footer {
    background: white;
    padding: 3em 0;
    text-align: center;
    color: #121d29;
}

footer img {
    width: 23em;
    max-width: 90%;
}

#footer-content-text {
    margin-top: 2em;
}

footer a {
    color: #2f4256;
    opacity: 1;
    text-decoration: underline;
}

footer a:hover {
    color: #2f4256;
    opacity: 1;
    text-decoration: underline;
}

#footer-projectlogo {
    font-weight: 900;
    font-size: 1.7em;
    margin: 1em 0;
}

/* ---------- Error Pages ---------- */

.errorpage-path {
    font-weight: bold;
}

.errorpage-code {
    margin-top: 3em;
    font-size: 0.8em;
}
