@media (min-width: 992px) {
    /* ---------- Navigation ---------- */

    nav.navbar {
        height: 3.5rem;
    }

    .navbar-brand {
        padding-left: 0.3em;
    }

    .navbar-brand .tagline {
        color: #696969;
        font-weight: 300;
        display: inline-block;
        vertical-align: middle;
        margin-left: 2em;
    }

    .nav-link {
        margin-left: 0.7em;
        margin-right: 0.7em;
        margin-top: 0.2em;
    }

    .nav-link.active {
        border-bottom: 3px solid #121d29;
    }

    /* ---------- Main ---------- */

    main {
        margin-top: 3.5rem;
        min-height: calc(100vh - 3.5rem);
    }

}
