@media (min-width: 992px) {
    /* ---------- Navigation ---------- */

    nav.navbar {
        height: 3.5rem;
    }

    .navbar-brand {
        padding-left: 0.3em;
    }

    .navbar-brand .tagline {
        color: #696969;
        font-weight: 300;
        display: inline-block;
        vertical-align: middle;
        margin-left: 2em;
    }

    .nav-link {
        margin-left: 0.7em;
        margin-right: 0.7em;
        margin-top: 0.2em;
    }

    .nav-link.active {
        font-weight: bold;
    }

    /* ---------- Main ---------- */

    main {
        margin-top: 3.5rem;
        min-height: calc(100vh - 3.5rem);
    }

    /* ---------- Welcome ---------- */

    .welcome-howtouse-step p {
        display: inline-block;
        width: 60%;
        vertical-align: middle;
    }
    
    .welcome-howtouse-step img {
        display: inline-block;
        width: 30%;
        margin-left: 7%;
        vertical-align: middle;
    }

}
