{% extends "base.html" %}
{% load settings_value %}
{% load static %}

{% block main %}

<section>
    <div class="container">
        <h2>Account</h2>
        <hr>
        <p>
            Welcome to your account for the MultiPal database. On this page you can view and update your details, change your password or logout.
        </p>
    </div>
</section>

{% if my_recent_documents %}
<section class="container" id="account-recentdocuments">
    <h3>My Recent Documents</h3>
    <ol>
        {% for document in my_recent_documents %}
            <li><a href="{% url 'palaeography:document-detail' document.id %}">{{ document }}</a></li>
        {% endfor %}
    </ol>
</section>
{% endif %}

<section class="container" id="account-mydetails">
    <h3>My Details</h3>
    <form method="post" class="full-form">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit"><i class="fas fa-check"></i> Save changes</button>
    </form>
    <p>
        <a href="{% url 'account:change-password' %}">Change password</a>
    </p>
</section>

<section class="container" id="account-logout">
    <h3>Logout</h3>
    <p>
        Thanks for using MultiPal - see you soon!
    </p>
    <p>
        <a href="{% url 'logout' %}">Logout</a>
    </p>
</section>

{% endblock %}