<!doctype html>

{% load static settings_value i18n %}

{% get_current_language as LANGUAGE_CODE %}

<html lang="{{ LANGUAGE_CODE }}">

    <head>
        <title>MultiPal</title>

        <!--Meta-->
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="MultiPal is an online interactive tutorial in palaeography. It helps learning to decipher original manuscripts, documents and inscriptions in a range of ancient and medieval scripts and languages">
        <meta name="author" content="MultiPal team">
        <meta name="google-site-verification" content="W1-wswiQ28W2nvy8y7guzgouBf_Z7Fr0lTpAbLYPspw">

        <!-- CSS -->
        <!-- Bootstrap -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

        <!-- Google Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,200;0,400;0,700;0,900;1,200;1,400;1,700&display=swap" rel="stylesheet"> 

        <!-- Font Awesome -->
        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" 
            integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer" />

        <!-- Custom -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/custom_small.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/custom_large.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/custom_print.css' %}">

        <!--Set the favicon-->
        <link rel="icon" type="image/png" href="{% static 'images/favicon.png' %}">
    </head>

    <body>

        <!-- jQuery (has to load at start of page, as some templates that extend from this base template include jQuery in them) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <!-- jQuery UI - used by the image viewer -->
        <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>

        <!-- Navigation bar -->
        <nav class="navbar fixed-top navbar-expand-lg">
            <!-- Logo -->
            <a class="navbar-brand" href="{% url 'general:welcome' %}">
                <h1>MultiPal</h1>
                <div class="tagline">
                    {% translate 'tagline' %}
                </div>
            </a>
            <!-- Nav toggle button (for small screens) -->
            <button class="navbar-toggler" type="button" title="navbartoggle" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false">
                <i class="fas fa-bars"></i>
            </button>
            <!-- Nav list -->
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav ml-auto">
                    <!-- Welcome -->
                    <li class="nav-item">
                        <a class="nav-link{% if "/welcome/" in request.path %} active{% endif %}" href="{% url 'general:welcome' %}">
                            {% translate 'Welcome' %}
                        </a>
                    </li>
                    <!-- Palaeography -->
                    <li class="nav-item">
                        <a class="nav-link{% if "/palaeography/" in request.path %} active{% endif %}" href="{% url 'palaeography:document-list' %}">
                            {% translate 'Palaeography' %}
                        </a>
                    </li>
                    <!-- About -->
                    <li class="nav-item">
                        <a class="nav-link{% if "/about/" in request.path %} active{% endif %}" href="{% url 'general:about' %}">
                            {% translate 'About' %}
                        </a>
                    </li>
                    <!-- Help -->
                    <li class="nav-item">
                        <a class="nav-link{% if "/help/" in request.path %} active{% endif %}" href="{% url 'help:list' %}">
                            {% translate 'Help' %}
                        </a>
                    </li>
                </ul>

                <!-- Language links -->
                <div id="nav-languagelinks">
                    {% get_available_languages as languages %}
                    {% for lang_code, lang_name in languages %}
                        <!-- href set dynamically in main.js to redirect to current page -->
                        <a data-langcode="{{ lang_code }}" title="{{ lang_name }}" href="#"{% if lang_code == LANGUAGE_CODE %}class="active"{% endif %}>
                            <img src="{% static 'images/flags/' %}{{ lang_code }}.svg" alt="flag for language {{ lang_name }}">
                        </a>
                    {% endfor %}
                </div>
            </div>
        </nav>

        <!-- Main -->
        <main id="main">
            <div id="main-content">
                {% block main %}
                {% endblock %}
            </div>
        </main>

        <!-- Footer -->
        <footer class="container-fluid">
            <!-- Content -->
            <div id="footer-content" class="container">

                <div id="footer-content-logos">
                    <a href="https://www.ephe.psl.eu/" target="_blank"><img src="{% static 'images/ephe-psl-logo.svg' %}" alt="Ecole Pratique des Hautes Etudes logo"></a>
                    <a href="https://portail.biblissima.fr/" target="_blank"><img src="{% static 'images/biblissima-logo.png' %}" alt="Biblissima logo"></a>
                </div>

                <div id="footer-content-text">
                    <div id="footer-projectlogo">
                        MultiPal
                    </div>
                    <p>
                        {% translate 'Contact us' %}: <a href="mailto:{% settings_value 'ADMIN_EMAIL' %}?subject=MultiPal website">{% settings_value 'ADMIN_EMAIL' %}</a>
                    </p>
                    <p>
                        {% translate 'Website developed by' %} <a href="https://ahrsoftware.co.uk" target="_blank">AHR Software</a>
                    </p>
                    <p>
                        <a href="{% url 'general:cookies' %}">{% translate 'Cookies' %}</a>
                        |
                        <a href="{% url 'general:accessibility' %}">{% translate 'Accessibility' %}</a>
                        |
                        <a href="{% url 'account:account' %}">{% translate 'Account' %}</a>

                        {% if user.is_staff %}
                            |
                            <a href="{% url 'admin:index' %}">{% translate 'Admin' %}</a>
                        {% endif %}
                    </p>
                    <p>
                        © MultiPal {% now "Y" %}
                    </p>
                </div>

            </div>
        </footer>

        <!-- JavaScript (other JS references above, where appropriate. Remaining shown below.) -->

        <!-- 3rd party JavaScript -->
        <!-- Bootstrap JS -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

        <!-- Custom JavaScript -->
        <script src="{% static 'js/cookiesmsg.js' %}"></script>
        <script src="{% static 'js/main.js' %}"></script>

    </body>

</html>
